APP_NAME=HiveOS AI
APP_VERSION=1.0.0
ENVIRONMENT=development

HOST=127.0.0.1
PORT=8000

DEBUG=True

API_V1_PREFIX=/api/v1

OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=llama3.2
EMBEDDING_MODEL=nomic-embed-text

VECTOR_DB=chroma

OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
LANGSMITH_API_KEY=<YOUR_LANGSMITH_API_KEY>